<div class="blog-card" [@movieAnimation]="movieState">
  <div class="meta">
    <img
      class="photo"
      [src]="
        movie.poster_path
          ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path
          : '../../../assets/images/not-found.png'
      "
      [alt]="movie.title"
    />
    <ul class="details">
      <li>
        <a>PUNTUACIÓN</a>
      </li>
      <li>
        <span class="badge badge-pill badge-secondary voteAverage"
          >{{ movie.vote_average * 10 }}%</span
        >
      </li>
    </ul>
  </div>
  <div class="description">
    <h1 [routerLink]="['movie-detail', movie.id]">{{ movie.title }}</h1>
    <h2>{{ movie.release_date | date: "longDate" }}</h2>
    <p [title]="movie.overview" *ngIf="!movie.overview">
      Esta película no tiene una descripción, estamos trabajando para mejorar
      nuestro catálogo.
    </p>
    <p [title]="movie.overview" *ngIf="movie.overview">
      {{ movie.overview | slice: 0:100 }} ...
    </p>
    <p class="read-more">
      <a [routerLink]="['movie-detail', movie.id]"> Más info</a>
    </p>
  </div>
</div>
